*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header{
	font-size: 20px;
	overflow-x: hidden;
	color: #FFf;
	font-family: 'Flamenco', cursive;
}

header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.logo{
	height: 120px;
	width: auto;
	float: left;
	margin: 20px;
}
.main-nav{
	float: right;
	margin-top: 60px;

}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0;
	color: #FFf;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100px;
}
.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;


}
.main-content-header{
	color: #FFf;
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
    transform: translate(-50%, -50%);
}
h1{
	color: #ff;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	font font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;  
}
.btn-1{
	background-color: transparent;
	color: #fff;
	margin-right: 15px;
	border: 1px solid #fff;
}
.btn-1:hover{
	color: white;
	background-color: #b73a4f;
}
.btn-2{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}
.btn-2:hover{
	color: black;
	background-color: #bad149;
}

.colorchange{
	animation: colorchangehackathon 2s infinite;
}
@keyframes colorchangehackathon{
	0%{color: #516689;}
	25%{color: #b73a4f;}
	50%{color: #ea9f48;}
	100%{color: #c8e05e;}
	50%{color: #b73a4f;}
	25%{color: #ea9f48;}
	0%{color: #c8e05e;}
	

}
